#Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    width: 10vh;
    height: auto;
  }
  #nav-inner-r {
    display: flex;
    align-items: center;
    a {
      color: #000;
      margin-right: 3vh;
      font-size: 3vh;
      text-decoration: none;
    }
  }
}
