.main-box {
  /* form Container */
  /* the header form form */
  /* title form form */
  /*  A welcome message or an explanation of the form */
  /* inputs form  */
  /* focus  */
  /* //////////////////////////////////////////// */
  /* //////////////////////////////////////////// */
  /* input[type="text"] {min-width: 250px;} */
  /* buttons  */
  /* Submits */
  /* buttons hover */
  /* buttons hover Animation */
}

.main-box * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
}

.main-box form {
  width: 550px;
  height: auto;
  border-radius: 5px;
  margin: 10% auto;
  -webkit-box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
          box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #d3f0c7 50%, #9dd57c 50%);
}

.main-box form .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3% auto;
}

.main-box header {
  margin: 2% auto 7% auto;
  text-align: center;
}

.main-box header h2 {
  font-family: Montserrat, sans-serif;
  font-size: 250%;
  color: #3e403f;
}

.main-box header p {
  letter-spacing: 0.05em;
  color: #3e403f;
}

.main-box .field-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-box .input-item {
  color: #333;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
}

.main-box input[class="form-input"] {
  margin-top: 2%;
  padding: 15px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #5e6472;
  outline: none;
  border: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main-box input[id="txt-input"] {
  width: 250px;
}

.main-box input:focus {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  border-radius: 5px;
}

.main-box button {
  display: inline-block;
  color: #233948;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 2% auto;
  letter-spacing: 0.05em;
}

.main-box .submits {
  width: 48%;
  display: inline-block;
  margin-left: 2%;
}

.main-box button:hover {
  -webkit-transform: translatey(3px);
          transform: translatey(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-box button:hover {
  -webkit-animation: ani9 0.4s ease-in-out infinite alternate;
          animation: ani9 0.4s ease-in-out infinite alternate;
}

@-webkit-keyframes ani9 {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes ani9 {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

nav {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  color: #7f7f7f;
  cursor: auto;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 105px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background-color 0.5s;
  transition: transform 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  border-bottom: none;
  border-color: rgba(255, 255, 255, 0.17);
}

nav #nav-left-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  color: #7f7f7f;
  cursor: auto;
  display: table;
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav #nav-left-container #nav-inner-l {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  color: #7f7f7f;
  cursor: auto;
  -webkit-transition: max-width 0.5s, min-width 0.5s;
  transition: max-width 0.5s, min-width 0.5s;
  display: table-cell;
  vertical-align: middle;
}

nav #nav-left-container #nav-inner-l img {
  width: 10vh;
  height: auto;
  display: block;
  max-width: 200px;
  opacity: 1;
  background: transparent 50% 50% no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding-top: 20px;
  padding-bottom: 15px;
  background-image: none;
}

nav #nav-right-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  color: #7f7f7f;
  cursor: auto;
  width: 100%;
  padding: 0 15px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

nav #nav-right-container #nav-inner-r {
  color: #7f7f7f;
  cursor: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  text-align: right;
  font-size: 0;
}

nav #nav-right-container #nav-inner-r #link {
  font-family: Montserrat, sans-serif;
  position: relative;
  min-height: 22px;
  font-size: 14px;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  letter-spacing: 1px;
  white-space: nowrap;
  float: none;
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

nav #nav-right-container #nav-inner-r #link a {
  list-style: none;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
  white-space: nowrap;
  text-align: left;
  background-color: transparent;
  display: block;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
  color: #233948;
  line-height: 60px;
  height: 60px;
  color: #233948;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

nav #nav-right-container #nav-inner-r #link a:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 #233948 inset;
          box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 #233948 inset;
}

nav #nav-right-container #nav-inner-r #link a:active {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 #233948 inset;
          box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 #233948 inset;
}

nav #nav-right-container #nav-inner-r #link a::-moz-selection {
  color: white;
  background: #233948;
  text-shadow: none;
}

nav #nav-right-container #nav-inner-r #link a::selection {
  color: white;
  background: #233948;
  text-shadow: none;
}

.searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searchForm button {
  margin-left: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.messages-page {
  max-height: calc(100vh - 125px);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 1fr) minmax(300px, 3fr);
      grid-template-columns: minmax(100px, 1fr) minmax(300px, 3fr);
  -ms-grid-rows: calc(100vh - 105px);
      grid-template-rows: calc(100vh - 105px);
  overflow: hidden;
}

.messages-page.container {
  max-width: 1250px;
  border-radius: 5px;
  margin-bottom: 0;
  width: 90%;
  -webkit-box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
          box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
  margin-top: 105px;
}

.messages-page ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.messages-list {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 1em;
  margin-right: 0.5em;
  border-right: 1px solid #9b9caaa9;
}

.message-preview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px auto;
      grid-template-columns: 70px auto;
  margin-bottom: 1em;
  text-decoration: none;
}

.name-and-message {
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name-and-message span {
  font-size: 85%;
}

.name-and-message p {
  margin-bottom: 0em;
  margin-top: 0.6em;
  color: #737488;
}

.name-and-message p.name-from {
  color: #3a3b4a;
}

.messages-chat {
  max-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6fr 1fr;
      grid-template-rows: 6fr 1fr;
  padding: 1em;
  padding-left: 2em;
}

.messages-chat ul {
  overflow-y: scroll;
}

.message-profile-pic {
  background-size: cover;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.message-profile-pic.small {
  height: 50px;
  width: 50px;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message.incoming {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.message.incoming p {
  background-color: #d3f0c7;
  padding: 1em;
  border-radius: 0.3em;
  margin-left: 1em;
}

.message.outgoing {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message.outgoing p {
  background-color: #9dd57c;
  padding: 1em;
  border-radius: 0.3em;
  margin-right: 1em;
}

.message-form {
  width: 100%;
  margin: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.message-box-container {
  position: relative;
  width: 100%;
}

.message-box-container:focus-within > .message-label {
  visibility: hidden;
}

.message-input {
  padding: 0.9em;
  height: 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  /* background-image: url("search.png"); */
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 1px solid #3a3b4a;
}

.message-label {
  position: absolute;
  top: 0.9em;
  left: 0.9em;
  color: #3a3b4a;
}

.message-send {
  width: 70px;
  border: 1px solid black;
  margin: 0;
}

.main-box {
  /* form Container */
  /* the header form form */
  /* title form form */
  /*  A welcome message or an explanation of the form */
  /* inputs form  */
  /* focus  */
  /* //////////////////////////////////////////// */
  /* //////////////////////////////////////////// */
  /* input[type="text"] {min-width: 250px;} */
  /* buttons  */
  /* Submits */
  /* buttons hover */
  /* buttons hover Animation */
}

.main-box * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
}

.main-box form {
  width: 550px;
  height: auto;
  border-radius: 5px;
  margin: 10% auto;
  -webkit-box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
          box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #d3f0c7 50%, #9dd57c 50%);
}

.main-box form .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3% auto;
}

.main-box header {
  margin: 2% auto 7% auto;
  text-align: center;
}

.main-box header h2 {
  font-family: Montserrat, sans-serif;
  font-size: 250%;
  color: #3e403f;
}

.main-box header p {
  letter-spacing: 0.05em;
  color: #3e403f;
}

.main-box .field-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-box .input-item {
  color: #333;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
}

.main-box input[class="form-input"] {
  margin-top: 2%;
  padding: 15px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #5e6472;
  outline: none;
  border: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main-box input[id="txt-input"] {
  width: 250px;
}

.main-box input:focus {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  border-radius: 5px;
}

.main-box button {
  display: inline-block;
  color: #233948;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 2% auto;
  letter-spacing: 0.05em;
}

.main-box .select-input {
  padding: 1.3em 1.4em 1.3em 0.8em;
}

.main-box .submits {
  width: 48%;
  display: inline-block;
  margin-left: 2%;
}

.main-box button:hover {
  -webkit-transform: translatey(3px);
          transform: translatey(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-box button:hover {
  -webkit-animation: ani9 0.4s ease-in-out infinite alternate;
          animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  /* buttons hover */
  /* buttons hover Animation */
  /* form Container */
  /* inputs form  */
  /* focus  */
}

.page .container {
  max-width: 1250px;
  border-radius: 5px;
  margin: 10% auto;
  width: 90%;
  -webkit-box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
          box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
  padding: 2%;
}

.page .profile-banner {
  background: #eee;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #9dd57c;
  height: 250px;
}

.page header i {
  position: relative;
  cursor: pointer;
  right: -96%;
  top: 25px;
  font-size: 18px !important;
}

@media (max-width: 800px) {
  .page header {
    height: 150px;
  }
  .page header i {
    right: -90%;
  }
}

.page section {
  padding: 20px 20px 0px 20px;
}

.page .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .photo {
  width: 200px;
  height: 200px;
  margin-top: -120px;
  border-radius: 100px;
  border: 4px solid #fff;
}

.page .photo-left img {
  position: absolute;
}

.page .photo-left .overlaybutton {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: -120px;
  border-radius: 100px;
  border: 4px solid #fff;
  position: relative;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.page .photo-left .overlaybutton:hover {
  opacity: 0.7;
  color: white;
  display: block;
  text-align: center;
  line-height: 250px;
  font-size: 0.85em;
  background-color: black;
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/artistree/image/upload/v1590077361/artistree/pngkey.com-camera-icon-png-104955_sjufa6.png");
}

.page .name {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20pt;
  color: #777;
}

.page .info {
  font-size: 15pt;
  color: #aaa;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.page .info-div {
  text-align: center;
  margin-top: 5px;
}

.page .bio {
  display: block;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .desc {
  text-align: center;
  margin-top: 25px;
  margin: 25px 40px;
  color: #999;
  font-size: 15pt;
  font-family: "Open Sans";
  padding: 10px 100px 10px 100px;
  border-bottom: 1px solid #ededed;
}

.page .right {
  padding: 0 25px 0 25px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .side-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.page .side-nav li {
  margin: 40px 30px 0 10px;
  cursor: pointer;
  font-size: 13pt;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #888;
}

.page .side-nav li:hover,
.page .side-nav li:nth-child(1) {
  color: #999;
  border-bottom: 2px solid #999;
}

@media (max-width: 990px) {
  .page .side-nav {
    display: none;
  }
}

.page .my-messages a {
  text-decoration: none;
  color: #233948;
}

.page button {
  display: inline-block;
  color: #233948;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 30px 30px 30px 30px;
  letter-spacing: 0.05em;
  -webkit-box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
          box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
}

.page .submit {
  display: inline-block;
  color: #233948;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 30px auto;
  letter-spacing: 0.05em;
}

.page button:hover {
  -webkit-transform: translatey(3px);
          transform: translatey(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page button:hover {
  -webkit-animation: ani9 0.4s ease-in-out infinite alternate;
          animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

.page .gallery {
  margin-top: 35px;
}

.page .gallery div {
  margin-bottom: 30px;
}

.page .gallery img {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
  cursor: pointer;
  max-width: 100%;
}

.page form {
  width: 550px;
  height: auto;
  border-radius: 5px;
  margin: 10% auto;
  -webkit-box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
          box-shadow: 0 9px 50px rgba(191, 191, 191, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #d3f0c7 50%, #9dd57c 50%);
}

.page form .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3% auto;
}

.page .field-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .input-item {
  color: #333;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
}

.page input[class="form-input"] {
  margin-top: 2%;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #5e6472;
  outline: none;
  border: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.page input[id="txt-input"] {
  width: 250px;
}

.page input:focus {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  border-radius: 5px;
}

.page .select-input {
  padding: 1.3em 1.4em 1.3em 0.8em;
}

.page .text-input {
  margin-top: 2%;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #5e6472;
  outline: none;
  border: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding: 2.6em 1.4em 2.6em 0.8em;
}

.page label {
  padding: 0.8em 1.4em 0.4em 0.8em;
}

.page .edit-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  margin-top: 105px;
}
/*# sourceMappingURL=index.css.map */