.page {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, sans-serif;

  .container {
    max-width: 1250px;
    border-radius: 5px;
    margin: 10% auto;
    width: 90vw;
    box-shadow: 0 9px 50px hsla(0, 0%, 75%, 0.31);
    padding: 2%;
  }

  .profile-banner {
    background: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #d3f0c7;
    height: 250px;
  }

  header i {
    position: relative;
    cursor: pointer;
    right: -96%;
    top: 25px;
    font-size: 18px !important;
  }

  @media (max-width: 800px) {
    header {
      height: 150px;
    }

    header i {
      right: -90%;
    }
  }

  section {
    padding: 20px 20px 0px 20px;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .overlaycontainer {
    position: relative;
    width: auto;
    height: auto;
  }
  .overlayartwork {
    display: block;
    width: auto;
    height: auto;
  }

  .overlayart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    margin: 7px 7px 7px 7px;
  }

  .overlaycontainer:hover .overlayart {
    opacity: 0.7;
  }

  .overlaytext {
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;
  }

  .photo {
    width: 200px;
    height: 200px;
    padding: unset;
    margin: auto;
    margin-top: -120px;
    border-radius: 100px;
    border: 4px solid #fff;
  }
  .photo-left .overlaybutton {
    display: block !important;
    width: 200px !important;
    height: 200px !important;
    padding: unset;
    margin: auto;
    margin-top: -208px !important;
    border-radius: 100px !important;
    border: 4px solid #fff !important;
    position: relative !important;
    opacity: 0 !important;
    cursor: pointer !important;
    overflow: hidden !important;
    outline: none !important;

    &:hover {
      padding: unset;
      margin: auto;
      transition: none !important;
      transform: none !important;
      opacity: 0.7 !important;
      color: white !important;
      display: block !important;
      text-align: center !important;
      line-height: 250px !important;
      font-size: 0.85em !important;
      background-color: black !important;
      background-size: 20% !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-image: url("https://res.cloudinary.com/artistree/image/upload/v1590077361/artistree/pngkey.com-camera-icon-png-104955_sjufa6.png") !important;
    }
  }

  .name {
    margin-top: 10px;
    font-weight: 600;
    font-size: 25pt;
    color: #777;
    margin-bottom: 10px;
  }

  .info {
    font-size: 15pt;
    color: #aaa;
    margin: 5px 7px 5px 7px;
  }

  .info-div {
    margin-top: 5px;
  }

  .bio {
    display: block;
    align-items: flex-start;
    flex-direction: column;
    font-size: 15pt;
  }
  .desc {
    line-height: 1.7rem;
    text-align: center;
    margin-top: 25px;
    margin: 25px 40px;
    color: #999;
    font-size: 15pt;
    font-family: "Open Sans";
  }

  .right {
    padding: 0 25px 0 25px !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }

  .side-nav {
    display: inline-flex;
  }

  .side-nav li {
    margin: 40px 30px 0 10px;
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #888;
  }

  .side-nav li:hover,
  .side-nav li:nth-child(1) {
    color: #999;
    border-bottom: 2px solid #999;
  }

  @media (max-width: 990px) {
    .side-nav {
      display: none;
    }
  }

  .button-dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button-forms {
    box-sizing: content-box;
    display: inline-block;
    color: #233948;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 30px 30px 30px 30px;
    letter-spacing: 0.05em;
    box-shadow: 0 9px 50px hsla(0, 0%, 75%, 0.31);
    width: 280px;
    height: 50px;
    text-decoration: none;
    color: #233948;
    text-align: center;
  }
  .edit-buttons {
    border-bottom: 1px solid #ededed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }
  .button-edit-profile {
    box-sizing: content-box;
    color: #233948;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 30px 30px 30px 30px;
    letter-spacing: 0.05em;
    box-shadow: 0 9px 50px hsla(0, 0%, 75%, 0.31);
  }
  .button-complete-profile {
    box-sizing: content-box;

    display: inline-block;
    color: #233948;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 30px 30px 30px 30px;
    letter-spacing: 0.05em;
    box-shadow: 0 9px 50px hsla(0, 0%, 75%, 0.31);
  }

  .submit {
    display: inline-block;
    color: #233948;
    width: 280px;
    height: 50px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: auto;
    margin-top: 50px;
    letter-spacing: 0.05em;
    box-sizing: content-box;
  }

  .submit.submit-label {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    padding: 15px 15px 15px 15px;
    font-size: 14px;
    text-align: center;
  }

  .form-header {
    margin: 2% auto 7% auto;
    text-align: center;
  }
  /* title form form */
  .form-header h2 {
    font-family: Montserrat, sans-serif;
    font-size: 150%;
    color: #3e403f;
  }

  /* buttons hover */
  button:hover {
    transform: translatey(3px);
    box-shadow: none;
  }

  /* buttons hover Animation */
  button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
  }
  @keyframes ani9 {
    0% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(5px);
    }
  }

  .my-messages:hover {
    transform: translatey(3px);
    box-shadow: none;
  }

  /* buttons hover Animation */
  .my-messages:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
  }
  .row {
    text-align: center;
  }
  .row .gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start;
  }

  .art {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start;
    padding: 0 5px;
  }

  .art-title {
    margin-top: 10px;
    font-weight: 600;
    font-size: 25pt;
    color: #777;
    margin-bottom: 20px;
  }
  .art img {
    margin: 7px;
    padding: unset;
  }

  .gallery {
    max-width: 1250px;
    border-radius: 5px;
    margin: 2% auto;
    // margin-bottom: 5px;
    text-align: center;
  }

  .gallery img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    height: 250px;
    cursor: pointer;
    max-width: 100%;
  }

  .avail-text {
    margin-top: 40px;
    font-weight: 600;
    font-size: 25pt;
    color: #777;
    margin-bottom: 10px;
    text-align: center;
  }
  .avail-div {
    border-top: 1px solid #ededed;
  }
  #Availabilities {
    margin: auto;
    font-size: 15pt;
    color: #777;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding: 1em;
  }

  form {
    width: calc(100% - 4rem);
    max-width: 550px;
    height: auto;
    border-radius: 5px;
    margin: 1rem auto;
    box-shadow: 0 9px 50px hsla(0, 0%, 75%, 0.31);
    background-color: #d3f0c7;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #333;
  }

  .input-item {
    color: #333;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
  }

  /* inputs form  */
  input[class="form-input"] {
    margin-top: 2%;
    padding: 15px;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    color: #5e6472;
    outline: none;
    border: none;
    box-sizing: content-box;
    transition: 0.2s linear;
  }
  input[id="txt-input"] {
    width: 250px;
  }
  /* focus  */
  input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
  }

  .select-input {
    padding: 1.3em 1.4em 1.3em 0.8em;
  }

  .text-input {
    margin-top: 2%;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    color: #5e6472;
    outline: none;
    border: none;
    box-sizing: content-box;
    transition: 0.2s linear;
    padding: 0.6em 1.4em 3.6em 0.8em;
    text-align: center;
  }

  label {
    padding: 0.8em 1.4em 0.4em 0.8em;
  }

  #subcategory {
    font-size: 15px;
  }

  .DateRangePicker {
    position: relative;
    display: flex;
    justify-content: center;
  }

  // @media screen and (max-width: 850px) {
  //   .edit-buttons {
  //     flex-direction: column;
  //     width: 1000%;
  //   }
  // }
}
