.main-box {
  * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, sans-serif;
  }

  form {
    width: 90vw;
    max-width: 550px;
    height: auto;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0 9px 50px hsla(0, 0%, 75%, 0.31);
    padding: 1rem 2rem;
    background-image: linear-gradient(-225deg, #d3f0c7 50%, #9dd57c 50%);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* the header form form */
  header {
    margin: 2em auto 1em auto;
    text-align: center;
  }
  /* title form form */
  header h2 {
    font-family: Montserrat, sans-serif;
    font-size: 250%;
    color: #3e403f;
  }
  /*  A welcome message or an explanation of the form */
  header p {
    letter-spacing: 0.05em;
    color: #3e403f;
  }
  label {
    margin-left: 1em;
  }
  .field-set {
    width: 90vw;
    max-width: 550px;
    display: flex;
    flex-direction: column;
  }

  /* inputs form  */
  input.form-input {
    width: 90%;
    margin: auto;
    padding: 15px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: #5e6472;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.2s linear;
  }

  /* focus  */
  input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
  }

  /* input[type="text"] {min-width: 250px;} */
  /* buttons  */
  button {
    width: 90%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 3.5em;
    color: #233948;
    height: 50px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    letter-spacing: 0.05em;
  }
  .select-input {
    padding: 1.3em 1.4em 1.3em 0.8em;
    height: 50px;
  }
  /* Submits */
  .submits {
    width: 48%;
    display: inline-block;
    margin-left: 2%;
  }

  /* buttons hover */
  button:hover {
    transform: translatey(3px);
    box-shadow: none;
  }

  /* buttons hover Animation */
  button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
  }
  @keyframes ani9 {
    0% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(5px);
    }
  }
}
